<app-movie [movie]="movie" *ngFor="let movie of movies"></app-movie>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" [routerLink]="['page/'+(page-1)]">Previous</a></li>
    <li class="page-item"><a class="page-link" [routerLink]="['page/'+1]">1</a></li>
    <li class="page-item"><a class="page-link" [routerLink]="['page/'+2]">2</a></li>
    <li class="page-item"><a class="page-link" [routerLink]="['page/'+3]">3</a></li>
    <li class="page-item"><a class="page-link" [routerLink]="['page/'+(page+1)]">Next</a></li>
  </ul>
</nav>
<div>
  <button (click)="goToPreviousPage()">previous</button>
  <button (click)="goToNextPage()">next</button>
</div>
