<div style="display: flex; align-content: space-between">
  <div class="card" style="width: 18rem;">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">
        {{movie.overview}}
      </p>
      <p class="card-text">
        Release date : {{movie.release_date}}
      </p>
      <p class="card-text">
        Rating : {{movie.vote_average}}
      </p>
      <p class="card-text">
        Voted : {{movie.vote_count}}
      </p>
      <button type="button" class="btn btn-primary" [routerLink]="[movie.id]">Details</button>
    </div>
  </div>
</div>
